@charset "UTF-8";

body {
	background: #D5D5D5;
}

.headline {
	margin: 50px;
	background-color: #191970;
	font-size: 100px;
	font-family: algerian;
	color: white;
	text-align: center
}

.button {
	margin: 5px;
	background: #324AB2;
	color: white;
	width: 200px;
	height: 40px;
	border-radius: 20px;
	font-size: 18px;
	cursor: pointer;
	
}
.button_local {
	margin: 5px;
	background: #324AB2;
	color: white;
	width: 60px;
	height: 40px;
	border-radius: 15px;
	font-size: 18px;
	cursor: pointer;
	
}

.hint {
	margin: 1px;
	font-size: 20px;
	color: #A9A9A9;
}

.form {
	margin: 0 25% 0 25%;
	width: 50%;
}

.heading {
	margin: 10px;
	margin-left: 0px;
	margin-right: 0px;
	height: 140px;
	background-color: #191970;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.heading-1 {
	display: flex;
	 justify-content: center;
}
.heading-2{
	display: flex;
  flex-direction: column;
	margin-right: 30px;

}


.text {
	text-align: center;
	margin: 10px;
	font-size: 50px;
	color: white;
}

.field{
	width: 150px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
}